html{
     scroll-behavior: smooth;
}
 body{
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
     color: #212112;
     background-position: center;
     background-repeat: repeat;
     background-size: 7%;
     background-color: #fff;
     overflow-x: hidden;
     transition: all 200ms linear;
}
 ::selection {
     color: #fff;
     background-color: #8167a9;
}
 ::-moz-selection {
     color: #fff;
     background-color: #8167a9;
}
 .home_container{
     margin-top: 5%;
     background-repeat: no-repeat;
     background-position: center top 200px;
     background-size: 33% 50%;
}
/* #Navigation ================================================== */
 .start-header {
     opacity: 1;
     transform: translateY(0);
     padding: 10px 0;
     box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
     -webkit-transition : all 0.3s ease-out;
     transition : all 0.3s ease-out;
}
 .start-header.scroll-on {
     box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
     padding: 5px 0;
     -webkit-transition : all 0.3s ease-out;
     transition : all 0.3s ease-out;
}
 .start-header.scroll-on .navbar-brand img{
     height: 28px;
     -webkit-transition : all 0.3s ease-out;
     transition : all 0.3s ease-out;
}
 .navigation-wrap{
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 1000;
     -webkit-transition : all 0.3s ease-out;
     transition : all 0.3s ease-out;
}
 .navbar{
     padding: 0;
}
 .navbar-brand img{
     height: 52px;
     margin-left: -40px;
     width: auto;
     display: block;
     -webkit-transition : all 0.3s ease-out;
     transition : all 0.3s ease-out;
}
 .navbar-toggler {
     float: right;
     border: none;
     padding-right: 0;
}
 .navbar-toggler:active, .navbar-toggler:focus {
     outline: none;
}
 .navbar-light .navbar-toggler-icon {
     width: 24px;
     height: 17px;
     background-image: none;
     position: relative;
     border-bottom: 1px solid #000;
     transition: all 300ms linear;
}
 .navbar-light .navbar-toggler-icon:after, .navbar-light .navbar-toggler-icon:before{
     width: 24px;
     position: absolute;
     height: 1px;
     background-color: #000;
     top: 0;
     left: 0;
     content: '';
     z-index: 2;
     transition: all 300ms linear;
}
 .navbar-light .navbar-toggler-icon:after{
     top: 8px;
}
 .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
     transform: rotate(45deg);
}
 .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
     transform: translateY(8px) rotate(-45deg);
}
 .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
     border-color: transparent;
}
 .nav-link{
     color: #212121 !important;
     font-weight: 500;
     transition: all 200ms linear;
}
 .nav-item:hover .nav-link{
     /*color: #8167a9 !important;*/
     color: #3399ff !important;

}
 .nav-item.active .nav-link{
     color: #777 !important;
}
 .nav-link {
     position: relative;
     padding: 5px 0 !important;
     display: inline-block;
}
 .nav-item:after{
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 100%;
     height: 2px;
     content: '';
     /*background-color: #8167a9;*/
    background-color: #3399ff;
     opacity: 0;
     transition: all 200ms linear;
}
 .nav-item:hover:after{
     bottom: 0;
     opacity: 1;
}
 .nav-item.active:hover:after{
     opacity: 0;
}
 .nav-item{
     position: relative;
     transition: all 200ms linear;
}

textarea{
     width: 50%;  
     border: none;
     border-radius: 20px;
     outline: none;
     padding: 10px;
     font-family: 'Sniglet', cursive;
     font-size: 1em;
     color: #676767;
     transition: border 0.5s;
     -webkit-transition: border 0.5s;
     -moz-transition: border 0.5s;
     -o-transition: border 0.5s;
     border: solid 3px #98d4f3;    
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing:border-box;
     
}

textarea{
     height: 100px; 
     resize: none; 
     overflow: auto;
     margin:40px 0px;
}

.range {
  position: relative;
}
.range input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  width: 100%;
  height: 22px;
  cursor: pointer;
  display: block;
}
.range input[type=range]:focus {
  outline: none;
}
.range input[type=range][disabled] {
  opacity: .3;
  cursor: default;
}
.range .rangeslider {
  position: relative;
  height: 22px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.range .rangeslider:before {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.range input::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  margin: 11px 0;
}
.range input::-moz-range-track {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  margin: 11px 0;
}
.range input::-ms-track {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
  color: transparent;
  padding: 11px 0;
  background: transparent;
  border-color: transparent;
}
.range input::-ms-fill-lower,
.range input::-ms-fill-upper {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background: #e6e6e6;
  border-radius: 100px;
}
.range input::-ms-fill-lower {
  background: #60cd18;
}
.range .rangeslider-fill-lower {
  background-color: #60cd18;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 4px;
  will-change: width;
}
.range input::-webkit-slider-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border: 6px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: 2px;
}
.range input::-moz-range-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border: 6px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
}
.range input::-ms-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border: 6px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
}
.range .rangeslider-thumb {
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
  border: 6px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background: #333940;
  cursor: pointer;
  position: absolute;
  touch-action: pan-x;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  will-change: left;
}



/*@media only screen and (max-width: 768px) {*/
section{
 border-top:42px solid #fff;
}
/*}*/