{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/base.css' %}">

    <title>Title</title>
    <script type="text/javascript">
    let token = '{{csrf_token}}'
  </script>
  </head>
  <body>
<div class="navigation-wrap bg-light start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                    
                        <a class="navbar-brand" href="{% url 'notes-home' %}"><img src="{% static 'notes/images/logo.png' %}" alt=""></a>    
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#home">Home</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#about-us">Notes</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#ourTeam">Sign Up</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#meetups">Sign In</a>
                                </li>
                            </ul>
                        </div>
                        
                    </nav>      
                </div>
            </div>
        </div>
    </div>
  <section id="voice-section" class="py-5">
    <div class="container py-md-4 text-center">
                  <img id="voice-section-image" src="{% static 'notes/images/voice.png' %}" class="img-fluid" alt="">
        <div class="last-hit3pvt-inner-content px-lg-5">
            <div class="buttons mt-md-4 mt-3">
                <button type ="button" class="btn btn-primary ">Activate Voice</button>
            </div>
        </div>
        <div class="form-group">
        <textarea class="form-control" id="message" name="message"></textarea>
        </div>
    </div>
</section>

<section id="notes-section" class="py-5">
  <div class="container py-md-4">
    <h3 class="text-center">NOTES</h3>
    {% for note in notes %}
    <div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{note.title}}</h5>
        <p class="card-text">{{note.content}}</p>
        <button id="{{note.id}}" class="btn btn-primary play-voice">Play</button>
      </div>
    </div>
  </div>
  </div>
  {% endfor %}
  </div>

</section>

  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{% static 'notes/js/textToVoice.js' %}"></script>
  </body>
</html>