{% load static %}
<div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="{% url 'notes-home' %}">
                    <!-- <img src="{% static 'notes/images/logo.png' %}" alt=""> -->
                    <h5 style="font-family:'Poppins', sans-serif;">VoiceNotes</h5></a>    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#notes-section">Home</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#settings">Settings</a>
                            </li>
                            <!--                                     <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#notes-section">Notes</a>
                                </li> -->
                            {% if user.is_authenticated %}
                            <li class="nav-item dropdown pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false">Welcome, {{request.user.username}}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'user-change-password' %}">Change Password</a>
                                    <a class="dropdown-item" href="{% url 'user-logout' %}">Logout</a>
                                </div>
                            </li>
                            <!--                             <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="{% url 'user-logout' %}">Log Out</a>
                                </li> -->
                            {% else %}
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="{%url 'user-signup'%}">Sign Up</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="{% url 'user-signin' %}">Sign In</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>