{% extends 'notes/base.html' %}
{% load static %}
{% block navbar %}
{% endblock navbar%}

{% block content %}
{% include 'notes/navbar.html' %}
<section id="voice-section" class="py-5">
            <div class="container py-md-4 text-center">
                <img id="voice-section-image" src="{% static 'notes/images/voice.png' %}" class="img-fluid" alt="">
                <div class="last-hit3pvt-inner-content px-lg-5">
                    <div class="buttons mt-md-4 mt-3">
                        <button type ="button" class="btn btn-primary " id="start_button" onclick="startButton(event)">Activate Voice</button>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="message" name="message"></textarea>
                </div>
            </div>
        </section>
        <section id="settings" class="py-5">
            <div class="container py-md-4 text-center">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                    <form id="text-to-voice-setting-form" >
                        <div class="form-group">
                            <label for="rate">Rate</label>
                            <div id="rate-value" class="badge badge-primary float-right">1</div>
                            <div class="range">
                            <input type="range" id="rate" class="custom-range" min="0.5" max="2" value="1" step="0.1">
                        </div>
                        </div>
                           <div class="form-group">
                            <label for="pitch">Pitch</label>
                            <div id="pitch-value" class="badge badge-primary float-right">1</div>
                            <div class="range">
                            <input type="range" id="pitch" class="custom-range" min="0" max="2" value="1" step="0.1">
                            </div>
                        </div>
                        <div class="form-group">
                            <select id="voice-select" class="form-control form-control-sm" >
                                
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 mx-auto">
                    <form id="voice-to-text-setting-form">
                        <div class="form-group">
                            <select id="select_language" onchange="updateCountry()" class="form-control form-control-sm"></select>
                        </div>
                        <div class="form-group">
                            <select id="select_dialect" class="form-control form-control-sm"></select>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </section>
        <section id="notes-section" class="py-5">
            <div class="container py-md-4">
                <h3 class="text-center">NOTES</h3>
                {% for note in notes %}
                <div class="row mb-3">
                    <div class="container">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title note{{note.id}}">{{note.title}}</h5>
                                <p class="card-text note{{note.id}}">{{note.content}}</p>
<!--                                 <audio controls id="{{note.id}}">
                                    <source src="horse.mp3" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio> -->
                                <button class="btn btn-primary btn-sm play note{{note.id}}">Play</button>
                                <button class="btn btn-primary btn-sm pause note{{note.id}}">Pause</button>
                                <button class="btn btn-primary btn-sm stop note{{note.id}}">Stop</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
        </section>
{% endblock content %}