{% extends 'notes/base.html' %}
{% load static %}
{% block content %}
{% include 'notes/navbar.html' %}
{% include 'notes/modal/create_note.html' %}
<div id="edit-note-modal-outer-div" ></div>
<div id="delete-note-modal-outer-div" ></div>
<!-- <section id="voice-section" class="py-5">
    <div class="container py-md-4 text-center">
        <img id="voice-section-image" src="{% static 'notes/images/voice.png' %}" class="img-fluid" alt="">
        <div class="last-hit3pvt-inner-content px-lg-5">
            <div class="buttons mt-md-4 mt-3">
                <button type ="button" class="btn btn-primary " id="start_button" onclick="startButton(event)">Activate Voice</button>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="message" name="message"></textarea>
        </div>
    </div>
    </section> -->
<section id="notes-section" class="py-5">
    <div class="container py-md-4">
        <div class="text-center mb-5">
            <h3 class="text-center">NOTES</h3>
            <button class="btn btn-primary" data-toggle="modal" data-target="#add_note">
            <i class="fa fa-plus"></i>
            Add new note
            </button>
        </div>
        {% if notes|length >= 1 %}
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 mb-3">
                <input type="text" id="noteFilter" class="form-control" onkeyup="filterNotes()" placeholder="Search for note...">
            </div>
        </div>
        {% endif %}
        <div id="notesContainer">
            {% for note in notes %}
            <div class="row mb-3" data-string="{{note.title}}">
                <div class="container">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title note{{note.id}}">{{note.title}}</h5>
                                <p class="card-text note{{note.id}}">{{note.content}}</p>
                                <!--                                 <audio controls id="{{note.id}}">
                                    <source src="horse.mp3" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                    </audio> -->
                                <button class="btn btn-light btn-sm play note{{note.id}}"><i class="fa fa-play" aria-hidden="true"></i></button>
                                <button class="btn btn-light btn-sm pause note{{note.id}}"><i class="fa fa-pause" aria-hidden="true"></i></button>
                                <button class="btn btn-light btn-sm stop note{{note.id}}"><i class="fa fa-stop" aria-hidden="true"></i></button>
                                <div class="float-right">
                                    <button class="btn btn-light btn-sm edit-note-button" data-url= "{% url 'note-edit' note.id %}" ><i class="fa fa-edit" aria-hidden="true"></i></button>
                                    <button class="btn btn-danger btn-sm delete-note-button" data-url="{% url 'note-delete-confirm' note.id %}"><i class="fa fa-trash-alt" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="settings" class="py-5">
    <div class="container py-md-4 text-center">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h5 class="text-center"> Text To Voice Setting</h5>
                <form id="text-to-voice-setting-form" >
                    <div class="form-group pt-3">
                        <label for="volume">Volume</label>
                        <div id="volume-value" class="badge badge-primary float-right">50</div>
                        <div class="range">
                            <input type="range" id="volume" class="custom-range" min="0" max="100" value="50" step="1">
                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <label for="rate">Rate</label>
                        <div id="rate-value" class="badge badge-primary float-right">1</div>
                        <div class="range">
                            <input type="range" id="rate" class="custom-range" min="0.5" max="2" value="1" step="0.1">
                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <label for="pitch">Pitch</label>
                        <div id="pitch-value" class="badge badge-primary float-right">1</div>
                        <div class="range">
                            <input type="range" id="pitch" class="custom-range" min="0" max="2" value="1" step="0.1">
                        </div>
                    </div>
                    <div class="form-group pt-3">
                        <label for="voice-select">Voice options</label>
                        <select id="voice-select" class="form-control form-control-sm" >
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-6 mx-auto">
                <h5 class="text-center"> Voice To Text Setting</h5>
                <form id="voice-to-text-setting-form">
                    <div class="form-group pt-4">
                        <label for="select_language"> Country </label>
                        <select id="select_language" onchange="updateCountry()" class="form-control form-control-sm"></select>
                    </div>
                    <div class="form-group pt-4">
                        <label for="select_dialect"> Dialect </label>
                        <select id="select_dialect" class="form-control form-control-sm"></select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}